@{
    ViewBag.Title = "Mandelbrot";
}

<div class="jumbotron">
    <h1>Mandelbrot Rendering</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="imageWrapper">
            <div class="imageRow">
                <img class="partialImage" src="/mandelbrot?min_c_re=-2.5&min_c_im=-1.0&max_c_re=1&max_c_im=1&x=256&y=256&inf_n=255&start_x=0&end_x=63" />
                <img class="partialImage" src="/mandelbrot?min_c_re=-2.5&min_c_im=-1.0&max_c_re=1&max_c_im=1&x=256&y=256&inf_n=255&start_x=64&end_x=127" />
                <img class="partialImage" src="/mandelbrot?min_c_re=-2.5&min_c_im=-1.0&max_c_re=1&max_c_im=1&x=256&y=256&inf_n=255&start_x=128&end_x=191" />
                <img class="partialImage" src="/mandelbrot?min_c_re=-2.5&min_c_im=-1.0&max_c_re=1&max_c_im=1&x=256&y=256&inf_n=255&start_x=192&end_x=255" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script type="text/javascript" src="/Scripts/parallellRender.js"></script>*@
}