@{
    ViewBag.Title = "Mandelbrot";
}

<div class="jumbotron">
    <h1>Mandelbrot Rendering</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Enter params for mandelbrot</h2>
        <form>
            <div id="formColumn">
                <label for="min_c_re">Min C real</label>
                <input type="number" name="min_c_re" id="min_c_re" required />

                <label for="min_c_im">Min C imaginary</label>
                <input type="number" name="min_c_im" id="min_c_im" required />

                <label for="max_c_re">Max C real</label>
                <input type="number" name="max_c_re" id="max_c_re" required />

                <label for="max_c_im">Max C imaginary</label>
                <input type="number" name="max_c_im" id="max_c_im" required />
            </div>
            <div id="formColumn">

                <label for="x">Width (pixels, modulo 256)</label>
                <input type="number" name="x" id="x" required />

                <label for="y">Height (pixels, modulo 256)</label>
                <input type="number" name="y" id="y" required />

                <label for="inf_n">Max iterations (1-255)</label>
                <input type="number" name="inf_n" id="inf_n" required />

                <label for="p_threads">Number of parallell threads</label>
                <input type="number" name="p_threads" id="p_threads" required />
            </div>

            <input type="submit" id="renderMandelbrot" value="Render" />
        </form>
        <div id="mandelWrapper">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/Scripts/mandelbrotRender.js"></script>
}